---
import MetaHead from "@comps/MetaHead.astro";
import Header from "@comps/Header.astro";
import Footer from "@comps/Footer.astro";
import Styles from "@comps/styles/Styles.astro";
import BlogPostPreview from "@comps/BlogPostPreview.astro";
import { mergeTags } from "@utils/utils";
import type { Frontmatter } from "@models/fontmatter";

// For Dynamic Routes
export async function getStaticPaths() {
  const INDEX_TAG: string = "index";
  const techPosts = await Astro.glob<Frontmatter>(
    "/src/pages/posts/tech/*.mdx"
  );
  const uniqueTags = mergeTags(techPosts.map((a) => a.frontmatter.tags));
  const x: Array<{ params: { tag: string } }> = uniqueTags.map((a) => {
    return {
      params: {
        tag: a,
      },
    };
  });
  x.push({ params: { tag: INDEX_TAG } });
  return x;
}

const techPosts = await Astro.glob<Frontmatter>("/src/pages/posts/tech/*.mdx");
const uniqueTags = mergeTags(techPosts.map((a) => a.frontmatter.tags));
const currTag = Astro.params.tag;
const INDEX_TAG: string = "index";

const isDevMode = await import.meta.env.DEV;

const PERMALINK = "https://frenchtechlead.com/blog/tag/" + currTag;
const IMG_SRC =
  "https://frenchtechlead.com/assets/blog/social-cover-default.png";

const fm: Frontmatter = {
  layout: "",
  title: "Blog - FrenchTechLead #" + currTag,
  description: "FrenchTechLead search result for: " + currTag,
  authorID: "akram_mecheri",
  keywords: [
    "Tech Blog",
    "Software Engineering",
    "Cloud Computing",
    "OOP",
    "Reactive Programming",
    "Functional Programming",
    "OSS",
    "DevOps",
  ],
  tags: [],
  lang: "fr",
  draft: false,
};
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <MetaHead frontmatter={fm} permalink={PERMALINK} imgSrc={IMG_SRC} />
    <Styles />
  </head>
  <body>
    <Header />
    <main class="container">
      <section class="mt-4 mb-5">
        <h1>Blog{currTag === INDEX_TAG ? "" : " #" + currTag}</h1>
        <div class="input-group mb-3" style="max-width: 420px;">
          <input
            type="text"
            class="form-control"
            placeholder="Recherchez dans le site"
            aria-label="Recherchez dans le site"
            aria-describedby="button-addon2"
            list="tags"
            onchange="goToPage(this)"
          />

          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2">Rechercher</button
          >
        </div>
        <datalist id="tags">
          {
            uniqueTags.map((a) => (
              <option class="tag-option" value={a}>
                {a}
              </option>
            ))
          }
        </datalist>
      </section>
      <section aria-label="Blog post list">
        <h2>Latest posts 🔥</h2>
        <div class="list-group">
          {
            techPosts
              .filter((p) => isDevMode || !p.frontmatter.draft)
              .filter((p) =>
                currTag === INDEX_TAG
                  ? p
                  : p.frontmatter.tags
                      .map((a) => a.toLowerCase())
                      .includes(currTag)
              )
              .reverse()
              .map((p) => (
                <BlogPostPreview frontmatter={p.frontmatter} url={p.url} />
              ))
          }
        </div>
      </section>
      <script is:inline>
        function goToPage(e) {
          const allTags = document.querySelectorAll(".tag-option");
          console.log(allTags);
          window.location.replace("/blog/" + e.value);
        }
      </script>
    </main>
    <Footer />
  </body>
</html>
