---
import { onlyUniqueArrayFilter } from "src/utils/utils";
import MetaHead from "@comps/MetaHead.astro";
import Header from "@comps/Header.astro";
import Footer from "@comps/Footer.astro";
import Styles from "@comps/styles/Styles.astro";
import BlogPostPreview from "@comps/BlogPostPreview.astro";
import NewsLetter from "@comps/NewsLetter.astro";
import S3 from "@comps/landing/S3.astro";

const techPosts = await Astro.glob("/src/pages/posts/tech/*.mdx");

export async function getStaticPaths() {
  const techPosts = await Astro.glob("/src/pages/posts/tech/*.mdx");
  return techPosts
    .map((a) => a.frontmatter.tags)
    .flatMap((a) => a)
    .filter(onlyUniqueArrayFilter)
    .map((a) => {
      return {
        params: {
          tag: a,
        },
      };
    });
}

const { tag } = Astro.params;
const DEV = await import.meta.env.DEV;
const title = "Blog - FrenchTechLead #" + tag;
const author = "FrenchTechLead";
const description = "FrenchTechLead search result for: " + tag;
const keywords = [
  "Tech Blog",
  "Software Engineering",
  "Cloud Computing",
  "OOP",
  "Reactive Programming",
  "Functional Programming",
  "OSS",
  "DevOps",
];
const permalink = "https://frenchtechlead.com/blog/tag/" + tag;
const postImageUrl = "https://frenchtechlead.com/assets/blog/blog-cover.avif";
const showAds = false;

const s = {
  postsList: "margin-top: 50px;",
  postElement:
    "color: var(--color-white); text-shadow: 0 0 30px var(--color-blue);",
};
---

<html lang="en" data-bs-theme="dark">
  <head>
    <MetaHead
      title={title}
      keywords={keywords}
      description={description}
      permalink={permalink}
      postImageUrl={postImageUrl}
      author={author}
      showAds={showAds}
    />
    <Styles />
  </head>
  <body>
    <Header />
    <main class="container">
      <section>
        <h1>#{tag}</h1>
        {
          techPosts
            .map((a) => a.frontmatter.tags)
            .flatMap((a) => a)
            .filter(onlyUniqueArrayFilter)
            .sort()
            //.map(a => a.toUpperCase())
            .map((a) => (
              <a href={"/blog/tag/" + a} class="badge text-bg-secondary me-2">
                {a}
              </a>
            ))
        }
      </section>
      <section style={s.postsList} aria-label="Blog post list">
        <h2 style={s.postElement}>Latest posts 🔥</h2>
        {
          techPosts
            .filter((p) => DEV || !p.frontmatter.draft)
            .filter((p) => p.frontmatter.tags.includes(tag))
            .reverse()
            .map((p) => (
              <BlogPostPreview post={p.frontmatter as any} url={p.url + "/"} />
            ))
        }
      </section>
      <NewsLetter />
      <S3 />
    </main>
    <Footer />
  </body>
</html>
