---
import MetaHead from '@comps/MetaHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import BlogFooter from '@comps/BlogFooter.astro';
import Styles from '@comps/Styles.astro';
import Image from '@comps/Image.astro';
import BlogPostPreview from '@comps/BlogPostPreview.astro';
import NewsLetter from '@comps/NewsLetter.astro'

import akramPic from '@assets/blog/akram-1.svg';
const DEV = await import.meta.env.DEV;

const title = 'FrenchTechLead - The Tech Leaders Community';
const author = 'FrenchTechLead';
const description = 'FrenchTechLead is a blog about Software Engineering and Web Development, written by a team of Experienced Entrepreneurs.'
const keywords = ['Tech Blog', 'Software Engineering', 'Cloud Computing', 'OOP', 'Reactive Programming', 'Functional Programming', 'OSS', 'DevOps'];
const permalink = 'https://frenchtechlead.com/';
const postImageUrl = 'https://frenchtechlead.com/assets/blog/blog-cover.avif';
const showAds=false;


const techPosts = await Astro.glob('./posts/tech/*.md');
---

<html lang="en">

<head>
	<MetaHead {title} {keywords} {description} {permalink} {postImageUrl} {author} {showAds} />
	<Styles />
    <style>
        label, input, textarea {
            display: block;
            margin-bottom: 1rem;
            width: 100%;
        }
        input{
            height: 30px;
        }
        textarea{
            min-height: 200px;
        }
        button{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        form{
            margin-bottom: 300px;
        }
        #contact-section{
            margin: 0% 20% 0% 20%;
        }
    </style>
</head>
<body>
	<BlogHeader />
	<main>
		<section id="landing">
			<Image w={600} h={600} src={akramPic} t="Akram's picture"  solo={true}/>
			<h1 style="color: var(--color-white);">Hi there 👋 Glad to see you here.</h1>
			<p style="margin-bottom: 0px;">My name is Akram, and I'm the creator of FrenchTechLead.</p>
			<p style="margin-top: 0px;">{description}</p>
		</section>

		<section id="contact-section">
			<h2>Contact Us</h2>
            <form action="https://submit-form.com/FIV9Qtla"
		    data-botpoison-public-key="pk_95922840-1780-4e0e-91a3-939b44300651"
		    >
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name" required="" />
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required="" />
                <label for="message">Message</label>
                <textarea
                  id="message"
                  name="message"
                  placeholder="Message"
                  required=""
                ></textarea>
                <button type="submit">Send</button>
              </form>
		</section>


	</main>
	<BlogFooter />
</body>
</html>
