---
import MetaHead from '@comps/MetaHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import BlogFooter from '@comps/BlogFooter.astro';
import Styles from '@comps/Styles.astro';
import Image from '@comps/Image.astro';
import BlogPostPreview from '@comps/BlogPostPreview.astro';
import akramPic from '@assets/blog/akram.avif';


const title = 'Hi there 👋 Glad to see you here.';
const description = 'My Name  is Akram and I am a Technical Leader living in Paris.'
const description2 = 'In this blog I\'ll try to share some technical knowledge that I have accumulated during my many years of creating large scale apps 🚀'
const permalink = 'https://frenchtechlead.com/';
const postImageUrl = 'https://frenchtechlead.com/assets/blog/blog-cover.avif';



const techPosts = await Astro.glob('./posts/tech/*.md');
---

<html lang="en">
	
	<head>
		<MetaHead {title} description={description + ' ' + description2} {permalink} {postImageUrl} />
		<Styles />
	</head>
	<BlogHeader/>
	
	<body>
		<main>
			<section id="landing">
				<Image w={300} h={300} src={akramPic} t="Akram's picture" />
				<h2 style="color: var(--color-white);">{title}</h2>
				<p>{description} <br/> {description2}</p>
			</section>

			
			<section id="latest-posts" aria-label="Blog post list">
			    <h2>Latest posts 🔥</h2>
				{techPosts.reverse().map((p) => <BlogPostPreview post={p.frontmatter as any} url={p.url} />)}
			</section>
		</main>
		<BlogFooter/>
	</body>
</html>
