---
import BaseHead from '@comps/BaseHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import BlogPostPreview from '@comps/BlogPostPreview.astro';
import "@styles/global.scss";
import "@styles/index.scss";


let title = 'Hi there 👋 Glad to see you here.';
let description = 'My Name  is Akram and I am a Technical Leader living in Paris.'
let description2 = 'In this blog I\'ll try to share some technical knowledge that I have accumulated during my many years of creating large scale apps 🚀'
let permalink = 'https://frenchtechlead.com/';


const techPosts = await Astro.glob('./posts/tech/*.md');
---

<html lang="en">
	
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>
	<BlogHeader/>
	

	<body>
			<main>
				<section style="text-align: center;">
					<img id="akram-pic" width="300px" height="300px" src="/assets/blog/akram.jpg" alt="Akram's picture" title="Akram's picture"/>
					<h2 style="color: var(--color-white);">{title}</h2>
					<p>{description} <br/> {description2}</p>
				</section>

				
				<section id="latest-posts" aria-label="Blog post list">
				    <h2 style="color: var(--color-green);">Latest posts 🔥</h2>
					{techPosts.map((p) => <BlogPostPreview post={p.frontmatter as any} url={p.url} />)}
				</section>
			</main>
	</body>
</html>
