---
const props  = Astro.props ;

const s = {
	article: "margin-top: 15px; border: 1px solid var(--color-purple); padding: 15px;",
	div: "color: var(--color-yellow);",
	p: "color: var(--color-white); margin-bottom: 0px;",
	time: "color: var(--color-grey);"
};
---
<a href={props.url}>
	<article style={s.article}>
		<header>
			<div style={s.div}>{props.post.title}</div>
		</header>
		<p style={s.p}>{props.post.description}</p>
		<time style={s.time} datetime={new Date(props.post.publishDate).toISOString()}>{props.post.publishDate}</time>
	</article>
</a>