---
const s = {
	header: "background-color: var(--color-heavy-blue-2); height: 75px; padding: 20px; display: flex; justify-content: space-between; align-items: center;",
	h2: "padding-top: 5px; font-size:50px;",
	div2: "float: right; font-family: monospace; font-size:50px;",
	a: "",
	span1:"color: var(--color-black); background: var(--color-yellow); text-shadow: none; font-weight: bold;",
	span2: "color: var(--color-white);text-decoration: none;text-shadow: 0 0 20px var(--color-white);font-weight: bold;",
	span3: "color: black; background-color: var(--color-yellow); line-height:unset;",
	span4: "font-weight: bold; color: black; background-color: var(--color-yellow); line-height:unset;"
};
---
<header style={s.header}>
	<div style={s.h2}>
		<a style={s.a} href="/">
			<span style={s.span1}>French</span><span style={s.span2}>TechLead</span>
		</a>
	</div>
	<div style={s.div2} class="hidden-for-phone">
		<div>
			<span style={s.span3}>Software Engineering</span><br>
			<span style={s.span4}>DONE RIGHT.</span>
		</div>
	</div>
</header>