---
import MetaHead from '@comps/MetaHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import Styles from '@comps/Styles.astro';
import BlogFooter from '@comps/BlogFooter.astro';
import BlogPost from '@comps/BlogPost.astro';


const { title, description, publishDate, authorName, authorSocial, permalink, lang, postImageUrl, postImageLocal, postImageAlt } = Astro.props.content;

---
<html lang={lang || 'en'}>
	<head>
		<MetaHead {title} {description} {permalink} {postImageUrl} />
		<Styles/>
	</head>
	<BlogHeader />
	<body>
		<main>
			<BlogPost {title} {authorName} {publishDate} {authorSocial} >
				<img width="800px"  src={postImageLocal} alt={postImageAlt} title={postImageAlt}/>
				<slot />
			</BlogPost>
		</main>
		<BlogFooter/>
	</body>
</html>