---
import BaseHead from '@comps/BaseHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import BlogPost from '@comps/BlogPost.astro';
import "@styles/global.scss";
import "@styles/blog.scss";

const { title, description, publishDate, author, heroImage, permalink, alt, lang } = Astro.props;
---

<html lang={lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<BlogHeader />
	<body>
		
		<div class="wrapper">
			<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
				<slot />
			</BlogPost>
		</div>
	</body>
</html>
