---
import MetaHead from '@comps/MetaHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import BlogFooter from '@comps/BlogFooter.astro';
import BlogPost from '@comps/BlogPost.astro';
import "@styles/global.scss";
import "@styles/blog.scss";

const { title, description, publishDate, authorName, authorSocial, permalink, lang, postImageUrl } = Astro.props.content;

---
<html lang={lang || 'en'}>
	<head>
		<MetaHead {title} {description} {permalink} {postImageUrl} />
	</head>
	<BlogHeader />
	<body>
		<BlogPost {title} {authorName} {publishDate} {authorSocial} >
			<slot />
		</BlogPost>
	</body>
</html>