---
import BaseHead from '@comps/BaseHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import BlogPost from '@comps/BlogPost.astro';
import "@styles/global.scss";
import "@styles/blog.scss";

const { title, description, publishDate, authorName, authorSocial, permalink, lang, postImageUrl } = Astro.props.content;

---

<html lang={lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} {postImageUrl} />
	</head>
	<BlogHeader />
	<body>
		
		<div class="wrapper">
			<BlogPost {title} {authorName} {publishDate} {authorSocial} >
				<slot />
			</BlogPost>
		</div>
	</body>
</html>
