---
import MetaHead from '@comps/MetaHead.astro';
import BlogHeader from '@comps/BlogHeader.astro';
import Styles from '@comps/Styles.astro';
import BlogFooter from '@comps/BlogFooter.astro';
import BlogPost from '@comps/BlogPost.astro';
import Image from '@comps/Image.astro';
import Separator from '@comps/Separator.astro'
import NewsLetter from '@comps/NewsLetter.astro'
import Sponsor from '@comps/Sponsor.astro';

const { title, metaTitle, description, publishDate , 
authorName, authorSocial, permalink, lang, 
postImageUrl, postImageLocal, postImageAlt,
postImageWidth, postImageHeight, keywords, author
} = Astro.props.content;

---
<html lang={lang || 'en'}>
<head>
<MetaHead {title} {metaTitle} {description} {permalink} {postImageUrl} {keywords} {author} />
<Styles />
</head>
<body>
	<BlogHeader />
	<BlogPost {title} {authorName} {publishDate} {authorSocial} >
		{ postImageLocal && <Image w={postImageWidth} h={postImageHeight}  src={postImageLocal} t={postImageAlt} /> }
		<slot />
	</BlogPost>
	<Separator/>
	<Sponsor />
	<NewsLetter/>
	<BlogFooter/>
</body>
</html>